*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Inter", sans-serif;
}

body{
    background:#f3f3f3;
}


.nav{
    width:100%;
    height:100px;

    background:#6262db;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:0 30px;
}

.logo{
    width:170px;
}

.TextoNav{
    display:flex;
    align-items:center;
    gap:28px;
}

.TextoNav a{
    text-decoration:none;
    color:white;
}

.TextoNav h3{
    font-size:18px;
}

.perfil{
    width:45px;
}


.area-cartao{
    width:100%;

    display:flex;
    flex-direction:column;
    align-items:center;

    margin-top:70px;
    margin-bottom:90px;
}

.card-cartao{
    width:520px;
    height:330px;

    background:#6262db;

    border-radius:4px;

    padding:18px;
}

.card-cartao h2{
    color:white;
    font-size:20px;

    margin-bottom:18px;
}

.card-cartao input{
    width:100%;
    height:40px;

    margin-bottom:12px;

    border:none;
    outline:none;

    padding:0 12px;

    font-size:15px;
}

.botoes{
    display:flex;
    gap:18px;

    margin-top:18px;
}

.confirmar{
    width:170px;
    height:42px;

    background:#2f4fbb;
    color:white;

    border:none;
    border-radius:4px;

    cursor:pointer;

    font-size:14px;
    font-weight:bold;
}

.cancelar{
    width:150px;
    height:42px;

    background:#c9c9c9;
    color:black;

    border:none;
    border-radius:4px;

    cursor:pointer;

    font-size:14px;
    font-weight:bold;
}


footer{
    width:100%;
    background:#6262db;

    padding:25px;
    color:white;
}

.links-footer{
    display:flex;
    justify-content:center;
    gap:40px;

    margin-bottom:30px;
}

.links-footer a{
    color:white;
    text-decoration:none;
    font-size:16px;
}

.footer-baixo{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.footer-baixo h4{
    margin-bottom:10px;
    font-size:18px;
}

.pagamentos img{
    width:180px;
}

.social{
    display:flex;
    justify-content:center;
    align-items:center;
}

.social a{
    display:flex;
    justify-content:center;
    align-items:center;
}

.social img{
    width:45px;
    height:45px;
    object-fit:contain;
}

.logo-footer{
    width:220px;
}